.bigScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ddedde;
  /* background-color  #fce006; */
  top: 0;
  cursor: not-allowed;
  justify-content: center;
  align-items: center;
  z-index: 5;
  color: white;
  font-size: 50px;
  /* font-weight: 500; */
  padding: 0px 20px;
  line-height: 1.5;
  text-shadow: 4px 4px 10px gray;
  display: none;
  margin-left: -20px;
}

@media screen and (min-width: 550px) {
  .bigScreen {
    display: flex;
  }
}
